<nb-card>
  <nb-card-header>
    Toaster configuration
  </nb-card-header>
  <nb-card-body>

  </nb-card-body>

  <nb-card-footer>
    <button class="btn btn-primary" (click)="makeToast()">Show toast</button>
    <button class="btn btn-success" (click)="openRandomToast()">Random toast</button>
    <button class="btn btn-danger" (click)="clearToasts()">Clear all toasts</button>
  </nb-card-footer>
</nb-card>
