<nb-card>
  <nb-card-header>
    شش ماهه اول
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="form-control-label">چغندر مصرفی:</label>
          <input class="form-control" [(ngModel)]="title" name="title">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="form-control-label">نرخ خرید چغندر:</label>
          <input class="form-control" [(ngModel)]="title" name="title">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="form-control-label"> متوسط عیار:</label>
          <input class="form-control" [(ngModel)]="title" name="title">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="form-control-label">  ضریب استحصال تجاری:</label>
          <input class="form-control" [(ngModel)]="title" name="title">
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    شش ماهه دوم
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="form-control-label">چغندر مصرفی:</label>
          <input class="form-control" [(ngModel)]="title" name="title">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="form-control-label">  نرخ خرید چقندر:</label>
          <input class="form-control" [(ngModel)]="title" name="title">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="form-control-label"> متوسط عیار:</label>
          <input class="form-control" [(ngModel)]="title" name="title">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="form-control-label">  ضریب استحصال تجاری:</label>
          <input class="form-control" [(ngModel)]="title" name="title">
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    هزینه ها
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="form-control-label">دستمزد :</label>
          <input class="form-control" [(ngModel)]="title" name="title">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="form-control-label">هزینه سربار:</label>
          <input class="form-control" [(ngModel)]="title" name="title">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="form-control-label">هزینه های اداری:</label>
          <input class="form-control" [(ngModel)]="title" name="title">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="form-control-label">هزینه های مالی:</label>
          <input class="form-control" [(ngModel)]="title" name="title">
        </div>
      </div>
    </div>
  </nb-card-body>

</nb-card>
<nb-card>
  <nb-card-header>
    سایر
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="form-control-label">سایر درآمد ها :</label>
          <input class="form-control" [(ngModel)]="title" name="title">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="form-control-label"> سرمایه شرکت:</label>
          <input class="form-control" [(ngModel)]="title" name="title">
        </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button class="btn btn-success">ثبت گزارش</button>
    <button class="btn btn-primary"> انصراف</button>
  </nb-card-footer>
</nb-card>
