@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/IRANSansWeb.eot');
  src: url('/assets/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
       url('/assets/fonts/IRANSansWeb.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
       url('/assets/fonts/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('/assets/fonts/IRANSansWeb.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/IRANSansWeb.eot');
  src: url('/assets/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
       url('/assets/fonts/IRANSansWeb.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
       url('/assets/fonts/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('/assets/fonts/IRANSansWeb.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/IRANSansWeb.eot');
  src: url('/assets/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
       url('/assets/fonts/IRANSansWeb.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
       url('/assets/fonts/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('/assets/fonts/IRANSansWeb.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/IRANSansWeb.eot');
  src: url('/assets/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
       url('/assets/fonts/IRANSansWeb.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
       url('/assets/fonts/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('/assets/fonts/IRANSansWeb.ttf') format('truetype');
}
// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();
};
